doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    script(type="module" src='/javascripts/login.js' defer )
  body
    .login-box
        h2 Login
        form
            .user-box
                input(type="text" id="pseudo" name="" required="")
                label Username 
            .user-box
                input(type="password" id="pass" name="" required="")
                label Password
            a(href="#" id="submit") Submit
                span()
                span()
                span()
                span()
