extends layout

block content
    .login-box
        h2 Login
        form
            .user-box
                input(type="text" name="" required="")
                label Username 
            .user-box
                input(type="password" name="" required="")
                label Password
            a(href="#" id="submit") Submit
                span()
                span()
                span()
                span()
